:root {
  --headings-size: 2rem;
  --content-size: 1.5rem;
  --small-content-size: 10px;
}

.sub-container {
  background-image: url("../../public/assets/back.webp");
  background-repeat: no-repeat;
  /* background-size: 60% 100%; */
  height: 80vh;
  width:100vw;
}

.container {
  font-family: "Libre Baskerville", serif;
}

.welcome-container {
  margin-top: 0vh;
}

.container h1,
h2 {
  font-weight: 900;
  font-style: normal;
}

.welcome {
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .sub-container {
    height: 80vh;
    background-size: 100% 80%;
  }
}

@media (orientation: landscape) {
  .sub-container {
    background-size: contain;
    background-position: center center;
  }
}
